.todoitem {
   display: flex;
   align-items: center;
   width: 100%;
   gap: 10px;
   border: 1px solid;
   padding: 10px;
   margin-bottom: 20px;
}

.todoitem__input-check {
   height: 30px;
   width: 30px;
}

.todoitem__body {
   display: flex;
   flex-direction: column;
   gap: 10px;
   margin-right: auto;
}

.lineThrough {
   text-decoration: line-through;
}

.todoitem__btns {
   display: flex;
   gap: 10px;
   align-items: center;
}
